In [2]:
# Обучение с учителем
# Задание 1

In [2]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

In [4]:
boston_house = load_boston()
data = boston_house["data"]
feature_names = boston_house["feature_names"]
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:
target = boston_house["target"]
Y = pd.DataFrame(target, columns=["price"])
Y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size= 0.30, random_state=42)

In [9]:
lr = LinearRegression()
lr.fit(X_train, Y_train)
y_pred_lr = lr.predict(X_test)
check_test_lr = pd.DataFrame({"Y_test": Y_test["price"], "Y_pred_lr": y_pred_lr.flatten()})
check_test_lr.head()

     Y_test  Y_pred_lr
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [10]:
from sklearn.metrics import mean_squared_error

mean_squared_error_lr = mean_squared_error(check_test_lr["Y_pred_lr"], check_test_lr["Y_test"])
print(mean_squared_error_lr)

21.517444231176995

In [11]:
from sklearn.metrics import r2_score
R2 = r2_score(check_test_lr["Y_pred_lr"], check_test_lr["Y_test"])
print(R2)

0.669370269149561

In [ ]:
# Задание 2

In [13]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)
model.fit(X_train, Y_train.values[:, 0])

y_pred_model = model.predict(X_test)
check_test_model = pd.DataFrame({"Y_test": Y_test["price"], "Y_pred_model": y_pred_model.flatten()})
check_test_model.head()

     Y_test  Y_pred_model
173    23.6     22.806412
274    32.4     31.131464
491    13.6     16.339125
72     22.8     23.810726
452    16.1     17.139521

In [14]:
mean_squared_error_model = mean_squared_error(check_test_model["Y_pred_model"], check_test_model["Y_test"])
print(mean_squared_error_model)

9.334548946165196

In [15]:
R2_model = r2_score(check_test_model["Y_pred_model"], check_test_model["Y_test"])
print(R2_model)

0.8479049999699443

In [ ]:
# Алгоритм "Регрессия" - ошибка - 21,52, "Случайных лес"-9,3.
# У алгоритма "Случайный лес" R2 ближе к 1, а значит предсказания точнее
#"Случайный лес" более точные результаты